<!DOCTYPE html>
<html>


  <body style="background-color: rgb(139, 134, 184);">
    <h1>Live streaming</h1>
    <div>

        <img src="{{ url_for('video') }}" width="80%"/>
    </div>
    <video id="webcamVideo" autoplay></video>
     
    <script>
        const canvas = document.createElement('canvas');
        const context = canvas.getContext('2d');
        
        setInterval(() => {
          canvas.width = webcamVideo.videoWidth;
          canvas.height = webcamVideo.videoHeight;
          context.drawImage(webcamVideo, 0, 0);
          const imageData = canvas.toDataURL('image/jpeg');
        
          fetch('/process_frame', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ image: imageData })
          });
        }, 1000); // Send a frame every second

    </script>
    </body>


</html>
