<!DOCTYPE html>
<html>


  <body style="background-color: rgb(139, 134, 184);">
    <h1>Live streaming</h1>
    <div>

        <img src="{{ url_for('video') }}" width="80%"/>
    </div>
    <video id="webcamVideo" autoplay></video>
     
    <script>
      const webcamVideo=document.getElementById("webcamVideo");
      const constraints = {
        video: {
          width: 1280,
          height: 720,
          facingMode: "user",
        }
      }


      navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
        webcamVideo.srcObject = stream;
      }).catch((error) => {
        console.error(error);
      })
    </script>
    </body>


</html>
